<!--제목-->
<h2>{{title}}</h2>

<!--검색-->
<input type="text" name="search" id="search" value="{{search}}" size="45" placeholder="검색어를 입력해주세요.">
<button onclick="location.href=`/?search${document.getElementById('search').value}`">검색</button>
<br />

<!--글쓰기 페이지 이동-->
<a href="/write">글쓰기</a>
<br />

<div>
    <table>
        <thead>
        <tr>
            <th width="50%">제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>등록일</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="/detail/">글제목</a></td>
            <td align="center">작성자 이름</td>
            <td align="center">9999</td>
            <td align="center">2022.12.12</td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <a>&lt;&lt;</a>
    <a>&lt;</a>
    <a>1</a>
    <a>2</a>
    <a>3</a>
    <a>4</a>
    <a>&gt;</a>
    <a>&gt;&gt;</a>
</div>
<p>{{message}}</p>